*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    min-height: 100vh;
    padding: 20px;
}

.container{
    max-width: 800px;
    min-height: 400px;
    margin-inline: auto;
   border: 1px solid #000;
   display: flex;
   gap:1rem;
   justify-content:flex-start;
   align-items: center;
   flex-direction: column;
   flex-direction: row-reverse;
   flex-wrap: wrap;
   flex-flow: row wrap;
   align-content: flex-start;

   
}

.box{
    min-width: 100px;
    min-height:100px;
    background-color:#000;
    color: white;
    font-size: 2rem;
    padding: 0.5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
   

    

}