* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    background-color: #151320;
  }
  section {
    height: 100vh;
    display: flex;
    padding: 0 4em;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  .container {
    perspective: 1000px;
    height: 28vh;
    width: 100%;
    cursor: pointer;
  }
  .card {
    transform-style: preserve-3d;
    height: 100%;
    width: 100%;
    transition: 0.5s ease;
  }
  .front,
  .back {
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 0.4em;
    position: absolute;
    top: 0;
    bottom: 0;
    backface-visibility: hidden;
  }
  .front {
    background: linear-gradient(to right, #a246ef, #6523fe);
  }
  .front img {
    width: 5em;
  }
  .content {
    transform: translateZ(60px);
  }
  .content h3 {
    font-size: 22px;
    margin-top: 1em;
    font-weight: 600;
    letter-spacing: 0.04em;
  }
  .content p {
    font-size: 14px;
    line-height: 2em;
    letter-spacing: 0.02em;
    padding: 0 3em;
  }
  .back {
    background-color: #28253a;
    transform: rotateX(180deg);
  }
  .container:hover .card {
    transform: rotateX(180deg);
  }
  @media screen and (min-width: 992px) {
    section {
      padding: 0 1em;
    }
    .container {
      flex-basis: 0 0 33.33%;
      max-width: 33.33%;
      padding: 0 1.5em;
    }
  }