 .container{
    border: 2px solid red;
    margin-bottom: 20px;
 }
 .container  div {
    /* display: flex;
    justify-content: center;
    align-items: center; */
     text-align: center;
    font-size: 2em;
    color: #ffeead;

} 

html, body {
  background-color: #ffeead;
  margin: 10px;
}

.container > div:nth-child(1n) {
  background-color: #96ceb4;	
} 

.container > div:nth-child(3n) {
  background-color: #88d8b0;
}

.container > div:nth-child(2n) {
      background-color: #ff6f69;
}

.container > div:nth-child(4n) {
      background-color: #ffcc5c;
}


  .container{
      display: grid;
      /* grid-template-columns: 0.01fr 1fr 0.1fr;   */
      /* grid-template-columns: repeat(3,1fr); */
      /* grid-template-rows: 50% 50%; */
      /* grid-template-rows: repeat(2,50px); */
      grid-template: repeat(2,50px)/repeat(3,1fr) ;
  }

  .container1 > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffeead;
}

.container1 > div:nth-child(1n) {
  background-color: #96ceb4;	
}

.container1 > div:nth-child(3n) {
  background-color: #88d8b0;
}

.container1 > div:nth-child(2n) {
      background-color: #ff6f69;
}

.container1 > div:nth-child(4n) {
      background-color: #ffcc5c;
}
.container1 {
  display: grid;
  grid-gap: 3px;
  height: 100%;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: 40px auto 40px;
  grid-template-areas: 
  "m h h h h h h h h h h h"
  "m c c c c c c c c c c c"
  ". f f f f f f f f f f f";
}

.header {
  /* grid-column-start: 1;
  grid-column-end: 3; */
  /* grid-column: 2/-1; */
  grid-area: h;
}

.menu {
  /* grid-column: 1/2;
  grid-row: 1/3; */

  grid-area: m;
}

.content {
  /* grid-column: 2/-1; */
  grid-area: c;
}

.footer {
   /* grid-column: 1/ -1; span across 2 coulums, -1 indicates we can target till last column 1/-1 */
   grid-area: f;
}

/* .container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
  grid-auto-rows: 100px;
}   create all rows and columns of 100px size with interaction 


.container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 75px;
    grid-auto-flow: dense;
}

.horizontal {
    grid-column: auto/span 2;
}

.vertical {
    grid-row: auto/span 2;
}

.big {
    grid-column: span 2;
    grid-row: spane 2;
}

create a grid with no blanks using dense value in grid-auto-flow property.
*/
