*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #55E6C1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
    text-align: center;
    margin: 10px;
    font-size: 40px;
    color: white;
    
}

#search{
    font-size: 25px;
    padding: 10px;
    border-radius: 25px;
    border: none;
    outline: none;
    box-sizing: 0px 0px 5px grey;
}